<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class = "container">

<h1>Golf DB Project</h1>

<!--how to bring fragments in, file name and idenfier which was named in other file-->
<nav th:replace="fragments :: navigation"></nav>

<table class= "table table-striped">
    <thead>
    <tr>
        <th>Golf Courses</th>
    </tr>
    </thead>
    <tr th:each="course : ${courses}">
        <td th:text="${course.name}"></td>
    </tr>
</table>

</body>
</html>