<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class = "container">

<h1>Add Round</h1>

<form method="POST" action="/rounds/addround">
    <div class ="form-group">
        <label>Date
            <input th:field="${round.date}" class="form-control">
        </label>
        <p class="error" th:errors="${round.date}"></p>
    </div>
    <div class = "form-group">
        <label> Course
            <select th:field="${round.course}">
                <option th:each="course : ${courses}"
                        th:value="${course.cid}"
                        th:text="${course.name}">
                </option>
            </select>
        </label>
    </div>
    <div class ="form-group">
        <label>Score
            <input th:field="${round.score}" class="form-control">
        </label>
        <p class="error" th:errors="${round.score}"></p>
    </div>
    <div class ="form-group">
        <input type="submit" value="Add Round" class="btn-success">
    </div>
</form>
</body>
</html>