<!DOCTYPE html>
<hmtl lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body class = "container">

    <h1>Golf DB Project</h1>

    <!--how to bring fragments in, file name and idenfier which was named in other file-->
    <nav th:replace="fragments :: navigation"></nav>

    <table class= "table table-striped">
        <thead>
        <tr>
            <th>Round Date & Course Where It Took Place</th>
        </tr>
        </thead>
        <tr th:each="round : ${rounds}">
            <td> <a th:href="'/rounds/info?roundId=' + ${round.rid}" th:text="${round.date}"></a></td>
            <td th:text="${round.course.name}"></td>
        </tr>
    </table>

    </body>
</hmtl>