<!DOCTYPE html>
<hmtl lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:fragment="head">
        <meta charset="UTF-8"/>
        <title>Golf DB</title>

        <!-- static resources-->

        <!--script th:src="@{/script.js}"--><!--/script-->
        <!--link th:href="@{/styles.css}" rel="stylesheet"-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" th:href="@{/styles.css}">
    </head>

    <body>
    <h1>Golf Database</h1>
    <!--html file comments syntax reminder-->
    <!--navigation is the identifier that can be referenced when using this fragment in other files-->
    <nav th:fragment="navigation">
        <ul class = "nav">
            <li class="nav-item"><a class="nav-link" href="players/addplayer"> Add Player</a> </li>
            <li class="nav-item"><a class="nav-link" href="courses/addcourse"> Add Course</a> </li>
        </ul>
    </nav>
    </body>
</hmtl>